{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<body id="page-top" xmlns="http://www.w3.org/1999/html" class="test">
<div class="container">
    <div class="box one">
        <img src="{% static 'images/info_user.png' %}" alt="info_user" id="info_user_img">
    </div>
    <div class="box two">
        <h2>Informations utilisateur</h2>
        <div class="internal-box">
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <td>
                        <strong>
                            <ion-icon name="person-circle-outline"></ion-icon>
                            Pseudo
                        </strong>
                    </td>
                    <td>
                        <p>{{user.username}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <ion-icon name="mail"></ion-icon>
                            Email
                        </strong>
                    </td>
                    <td>
                        <p>{{user.email}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <ion-icon name="calendar"></ion-icon>
                            Crée le
                        </strong>
                    </td>
                    <td>
                        <p>{{user.date_joined}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <ion-icon name="calendar"></ion-icon>
                            Modifié le
                        </strong>
                    </td>
                    <td>
                        <p>{{ user.last_login }}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="change_paramaters">
            <a href="{% url 'update_user'%}">
                <ion-icon name="man"></ion-icon>
                Modifier le profil
            </a>
            <a href="{% url 'change_password'%}">
                <ion-icon name="key"></ion-icon>
                Modifier le mot de passe
            </a>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}
