{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<body id="page-top" xmlns="http://www.w3.org/1999/html" class="test">
<div class="container">
    <div class="box one">
        <img src="{% static 'images/login_tiger.png' %}" alt="login_tiger" id="login_tiger">
    </div>

    <div class="box two">
        <div class="internal-box">
            <h2>Modifier le profil</h2>
            <form id="login-form" method="POST" action="{% url 'update_user' %}">
                {% csrf_token %}
                <div class="logo-input-block">
                    <span><ion-icon class="fas fa-user"></ion-icon></span><br>
                    {{update_user_form.new_username}}
                </div>

                <div class="logo-input-block">
                    <span><ion-icon class="fas fa-envelope"></ion-icon></span><br>
                    {{update_user_form.new_email}}
                </div>

                <div class="button">
                    <input class="button-input" type="submit" id="submit" name="submit" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}